<div class="container" style="height: 600px;margin-top: 30px;">
  <div class="col-xs-4">
    时间选择器
    <bp-datepicker ng-model="vm.time" datepicker-options="vm.datepickerOption"></bp-datepicker>
    <label>时间：</label>{{vm.time}}
  </div>
  <div class="col-xs-8">
    时间范围选择器
    <bp-rangepicker ng-start-model="vm.startTime" ng-end-model="vm.endTime" rangepicker-options="vm.rangepickerOption"></bp-rangepicker>
    <label>开始时间：</label>{{vm.startTime}}
    <label>结束时间：</label>{{vm.endTime}}
  </div>
</div>
