<div class="container" style="height: 600px">
  <div class="col-xs-3">
    <uib-datepicker ng-model="vm.time"
                    class="well well-sm"
                    date-view-format="vm.viewFormat"
                    date-model-format="vm.modelFormat"
                    datepicker-options="vm.datepickerOption">
    </uib-datepicker>

    <input class="form-control"
           ng-model="vm.time"
           date-view-format="vm.viewFormat"
           date-model-format="vm.modelFormat"
           type="text"/>
  </div>
</div>
